@import "config";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  // background-color: $light-color;
  font-family: $font-stack;
  image-orientation: 90deg;
}

img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  max-width: 75%;
  height: auto;
  border-bottom: 10px solid $primary-color;
  border-right: 10px solid $primary-color;
}

div {
  background-color: $primary-color;
}

a {
  
  text-decoration: none;
  
}

.hero {
    // display: flex;
    background-color: $primary-color;
    color: beige;
    // width: 300px;
    border-bottom: 75px solid $light-color;

    nav {
      display: flex;
      flex-direction: row;
      height: 50px;
      line-height: 50px;
      background-color: $light-color;

      & ul {
        display: inline-flex;
        flex-direction: row-reverse;
        // height: 100px;
        // line-height: 50px;
          & li {
            background-color: aliceblue;
      }}
  }
}

  // 1. $variables
  // 2. nesting (dont forget about the ampersand (&) parent selector!)
  // 3. At-Rules


// This code is related to some of the aspects of SCSS we have yet to cover.
// While you don't have to mess with it, it would be advisable to attempt to understand its functionality.
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
